*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 50px;
    text-align: center;
}
h1{
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
}
input{
    padding: 5px;
}
button{
    padding: 5px;
    width: 100px;
    background: #b1aeae31;
    border: 1px solid  ;
    margin-left: 10px;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
}